<!doctype html>
    <html>
        <head>
            <title>Start</title>
            <meta charset="utf-8">
             <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
            <link rel="stylesheet" type="text/css" href="css/base.min.css">
            <script type="text/javascript" src="js/do.js"></script>
        </head>
        <body>
          <div id="particles-js"></div>
          <div id="content">
            <div id="time">0.0</div>
            <button onClick="starttimer();">FIRE!</button>
          </div>

          <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
          <script src="js/ioreq.js"></script>
          <script src="js/particles.js"></script>
          <script src="js/app.js"></script>
        </body>
    </html>
